<a name="contact"></a>
<!-- /.intro-header -->
<div class="intro-header">
    <div class="container contact-container-top">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-intro">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<!-- /.main-msg-container -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Thank You!</h2>
                <p class="lead">
                    Congratulations on taking the first step to joining Arconomy. We will contact you within the next
                    few days.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/success.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<arc-footer></arc-footer>

