<form class="form-horizontal row-border contact-form" name="contactForm" ng-submit="saveContactForm()">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default arc-panel">
                <div class="panel-body">
                    <arc-alert></arc-alert>
                    <arc-title></arc-title>
                    <arc-first-name fm-required="true"></arc-first-name>
                    <arc-last-name fm-required="true"></arc-last-name>
                    <arc-business-name fm-required="true"></arc-business-name>
                    <arc-location fm-required="true"></arc-location>
                    <arc-contact-details fm-required="true"></arc-contact-details>
                    <arc-gst></arc-gst>
                    <arc-employees></arc-employees>
                    <span class="divider"></span>
                    <arc-enquiry fm-required="true"></arc-enquiry>
                    <span class="divider"></span>
                    <h4>Please provide any other useful information.</h4>
                    <arc-web-site-details></arc-web-site-details>
                    <arc-social-details></arc-social-details>
                    <arc-retail-outlets></arc-retail-outlets>

                    <button type="submit" ng-disabled="isSaving" value="{{isSaving ? 'Sending...' : 'Submit'}}"
                            class="btn btn-default pull-right">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>