<div class="form-group">
<label class="col-md-2 col-sm-8 col-lg-10">Which Social platforms does your business use?</label>
    <div class="col-xs-6 col-sm-10 col-lg-offset-2">
    <label class="checkbox-inline arc-checkbox-inline-first-item">
        <input type="checkbox"
               id="hasFacebook"
               ng-readonly="readonly"
               ng-model="data.hasFacebook">Facebook
    </label>
    <label class="checkbox-inline">
        <input type="checkbox"
               id="hasTwitter"
               ng-readonly="readonly"
               ng-model="data.hasTwitter">Twitter
    </label>
    <label class="checkbox-inline">
        <input type="checkbox"
               id="hasGooglePlus"
               ng-readonly="readonly"
               ng-model="data.hasGooglePlus">Google+
    </label>
    <label class="checkbox-inline">
        <input type="checkbox"
               id="hasInstagram"
               ng-readonly="readonly"
               ng-model="data.hasInstagram">Instagram
    </label>
    <label class="checkbox-inline">
        <input type="checkbox"
               id="hasPinterest"
               ng-readonly="readonly"
               ng-model="data.hasPinterest">Pinterest
    </label>
    <label class="checkbox-inline">
        <input type="checkbox"
               id="hasLinkedIn"
               ng-readonly="readonly"
               ng-model="data.hasLinkedIn">Linkedin
    </label>
    </div>
</div>
