<!-- /.intro-header Section -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h3>Every business has a story...</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<!-- Page Content -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Mission:</h2>
                <p class="lead">
                    Have you noticed that the same global brands fill your inbox, your social feeds, your internet search results and your high streets?
                    <br>
                    <br>
                    Our aim is to put local businesses back on the high street and on an even playing field with the retail giants online.
                    <br>
                    <br>
                    Arconomy provides a fully managed digital platform together with shared premium retail spaces so that you can focus on creating
                    great products and services for your customers. <br>
                    <br>
            </p>
            </div>
            <div class="img-top-margin col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/arc-you-make.png" alt="">
                <H4 class="text-center">Focus on your products</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Business Owners:</h2>
                <p class="lead">Are you a business owner struggling to grow your business? Are you spending too much of your time managing your website,
                    running marketing campaigns and attending events that were not worth the fee?
                    <br>
                    <br>
                    Would you like to spend more time on creating your products and services
                    and discussing new ideas with your customers?
                    <br>
                    <br>
                    Do you dream of having your own store but are constrained to local markets and trade fairs as the only way of meeting new customers face to face.<br>
                    <br>
                    <a ui-sref="contact">Contact us</a> to understand how you can become a member of a store on the high street at a cost and flexibility that suits you.</p>
            </div>
            <div class="img-top-margin col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/arc-customers.png" alt="">
                <H4 class="text-center">Engage with your customers</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Commerce Everywhere:</h2>
                <p class="lead">Retail Businesses compete for customers in more ways than ever before. There are
                    transactional websites, mobile applications, social commerce and traditional bricks and mortar stores.
                    <br>
                    <br>
                    Despite technology increasing the number of ways to make a purchase,
                    over 90% of retail transactions are still made face to face in a physical store.
                    <br>
                    <br>
                    Digital platforms today create a big part of the shopping experience for a customer but
                    without a store to visit online only businesses will miss out on the majority of sales.
                    <br>
                    <br>
                    We provide a seamless digital and in store shopping experience leveraging cutting edge retail technology
                    so your customers receive a personalised, high quality shopping experience that matches your high quality products and services.
                </p>
            </div>
            <div class="img-top-margin col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/arc-shop.png" alt="">
                <H4 class="text-center">Retail technology</H4>
                <hr class="img-heading-spacer">
                <img class="img-responsive" src="assets/images/arc-store.png" alt="">
                <H4 class="text-center">Premium store locations</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Creating a brand:</h2>
                <p class="lead">Having a great vision for your brand and products is only as good as the creative
                    production that designs the final media and branded collateral. We understand that working with design agencies can be expensive and challenging to manage.
                    <br>
                    <br>
                    We recognise that Business owners are passionate about their brand and want to be involved in the creative process. We offer solutions to help
                    you build your brand and produce quality content. Our aim is to support you on your journey, providing advice and expertise as required or simply
                    getting the job done as part of your virtual team.
                    <br>
                    <br>
                    As part of the Arconomy family you will have access to a creative team that can support you bringing
                    your vision to life.
                </p>
            </div>
            <div class="img-top-margin col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/arc-creative.png" alt="">
                <H4 class="text-center">Creative, Brand and Marketing Support</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Why join us:</h2>
                <p class="lead">
                    There are many reasons why small businesses join the Arconomy family.<br>
                </p>
                <ul>
                    <li>Sell your products and services using world class eCommerce site</li>
                    <li>Sell your products and services in a premium retail space</li>
                    <li>Gain access to technology, marketing and business consulting expertise</li>
                    <li>Become part of a dynamic small business network</li>
                    <li>Focus externally on your customers rather than internally on your business processes</li>
                    <li>Spend more time innovating and creating personalised products and services your customers love</li>
                    <li>Share the cost and time overheads of operating a professional retail space
                    <li>Remove the challenges of developing and maintaining a competitive website on your own</li>
                    <li>Benefit from shared marketing efforts attracting new customers both online and to your retail store</li>
                    <li>Provide your customers a shopping experience that is as high quality as your products and services</li>
                    <li>Connect and collaborate creatively with other small businesses</li>
                </ul>
            </div>
            <div class="img-top-margin col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/arc-payment.png" alt="">
                <H4 class="text-center">Payment technology</H4>
                <hr class="img-heading-spacer">
                <img class="img-responsive" src="assets/images/arc-deliver.png" alt="">
                <H4 class="text-center">Delivery services</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Logistics:</h2>
                <p class="lead">
                Providing better options to your customers to be able to collect their orders has become a battleground that ultimately
                    drones are going to win.
                    <br>
                    <br>
                    In the meantime as part of a network of small businesses you will be able to offer convenient pick up locations
                        throughout your local area through your Arconomy business network as well as the Store network. To find out more <a ui-sref="contact">get in touch here.</a></p>
            </div>
            <div class="img-top-margin col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/arc-ship.png" alt="">
                <H4 class="text-center">Fulfil orders from anywhere</H4>
                <hr class="img-heading-spacer">
                <img class="img-responsive" src="assets/images/arc-collect.png" alt="">
                <H4 class="text-center">Convenient local pick up locations</H4>
                <hr class="img-heading-spacer">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<arc-footer></arc-footer>
