.contact-container-top  {
  height:50px;
}

.contact-intro  {
  padding-top:5%;
  padding-bottom: 5%;
}

.contact-textarea  {
  min-height: 150px;
}

.contact-form {
  padding-top: 5%;
}

.arc-checkbox-inline-first-item {
  padding-left: 30px;
}
