<!-- /.intro-header Section -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h3>Every business has a story...</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/arconomy" class="btn btn-default btn-lg"><i
                                    class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span
                                    class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<!-- Page Content -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Mission:</h2>
                <p class="lead">
                    We provide an integrated shared digital platform together with shared premium retail locations that
                    enable networks of boutique businesses to build their
                    brand through a presence online and in the high street. We aim to provide a collaborative
                    environment where high quality personalised products can be showcased.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/ipad.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Business Owners:</h2>
                <p class="lead">Are you a business owner trying to grow your business through developing a website,
                    engaging in social and digital marketing and attending trade fairs and local markets. Contact us to
                    understand
                    how we can provide a better solution that will provide you the exposure you need to your customers
                    and at the same time enable you
                    to focus on creating amazing products and services. <a>Get in touch here..</a></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Commerce Everywhere</h2>
                <p class="lead">Retail Businesses compete for customers in more ways than ever before. There are
                    transactional websites, mobile applications,
                    social commerce and traditional bricks and mortar stores. Despite technology increasing the number of ways to make a purchase,
                    over 90% of retail transactions are still made face to face in a physical store. <br>
                    <br>
                    Digital platforms today create a big part of the shopping experience for a customer but
                    without a store to visit small businesses will miss out the majority of sales. We can provide a seamless digital and in store shopping
                    experience leveraging cutting edge retail technology so that you only have to worry about making great products for your customers.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/phones.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Why join us:</h2>
                <p class="lead">
                    There are many reasons why small businesses join the Arconomy family..<br>
                </p>
                <ul>
                    <li>Sell your products and services using world class eCommerce site</li>
                    <li>Sell your products and services in a premium retail space</li>
                    <li>Gain access to technology and marketing expertise</li>
                    <li>Gain access to digital and social marketing expertise</li>
                    <li>Gain access to technology and business consulting advice previously only available to
                        corporates
                    </li>
                    <li>Become part of a dynamic small business network</li>
                    <li>Focus on your customers rather than your business processes
                    </li>
                    <li>Focus on creating unique personalised products and services</li>
                    <li>Significantly reduce the cost and overheads of managing a retail space and developing a
                        competitive website on your own
                    </li>
                    <li>Benefit from shared marketing efforts both online and your retail store</li>
                    <li>Your customers enjoy a shopping experience that is as high quality as your products</li>
                    <li>Connect and collaborate creatively with other small businesses in your retail store</li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2><span class="text-fade">Retail Architecture for a sharing Economy.</span></h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/arconomy" class="btn btn-default btn-lg"><i
                                class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span
                                class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.banner -->
